* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 30px;
  }
  
  .kapakana-wrapper {
    font-family: 'Kapakana', sans-serif;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 36px;
    color: #2C3E50;
  }
  
  select {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .certificate {
    margin-top: 30px;
    padding: 20px;
    background-color: #000000;
    border: 1px solid #ddd;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .certificate > div {
    display: none;
  }
  
  h2 {
    font-family: 'Kapakana', sans-serif;
    font-size:35px;
    color: #E4C284;
  }
  p{
    color: white
  }
  h3 {
    font-size: 24px;
    font-weight: bold;
    color: #E9C686
  }
  
  footer {
    margin-top: 30px;
    font-size: 14px;
  }
  
  @media print {
    body {
      font-size: 14px;
    }
  
    .container, header, button {
      display: none;
    }
  
    .certificate {
      width: 100%;
      max-width: 100%;
      padding: 20px;
      border: none;
      box-shadow: none;
    }
  
    .template1, .template2, .template3 {
      display: block;
      page-break-before: always;
      page-break-after: always;
      width: 100%;
      height: 100%;
      position: relative;
    }
  
    .template1 {
      background: url('template1-bg.jpg') no-repeat center center;
      background-size: cover;
    }
  
    .template2 {
      background: url('template2-bg.jpg') no-repeat center center;
      background-size: cover;
    }
  
    .template3 {
      background: url('template3-bg.jpg') no-repeat center center;
      background-size: cover;
    }
  }
  
 